extends ../layout/layout

block content
  .row
    .col-lg-1
    .col-lg-10
      br
      .row
        .col-lg-1
        .col-lg-10
          h3 New Blog
          .clear
          .bdr
          - if (errors && errors.length > 0)
            - each error in errors
              .row.errors
                .col-lg-2
                .col-lg-10
                  = error.msg
            .clear
          form(action='/blogs/#{blog.id}/update', method='post')
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            .clear
            .row
              .col-lg-2 Title
              .col-lg-10
                input(type='text', name='title',value="#{blog.title}" placeholder='title', class='form-control')
            .clear
            .row
              .col-lg-2 Content
              .col-lg-10
                textarea.blg-textarea(name='content', placeholder='Content type here') #{blog.content}
            .clear
            .row
              .col-lg-2
              .col-lg-8
                input(type='submit', name='create_blog' value="Update Blog", class='btn btn-primary')
                a(class='btn btn-primary', href="/blogs/#{blog.id}") Cancel
                input(type='button', id='delete_blog' value="Delete", data-blog-id="#{blog.id}" class='btn btn-danger')
              .col-lg-2
          .clear
          .bdr
        .col-lg-1
    .col-lg-1

